@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange: rgb(245, 119, 96);
    --white: rgb(247, 239, 237);
    --gray: rgb(90, 89, 89);
    --ligth-gray: rgba(236, 236, 236, 0.747);
    --btn-color:#06adb6;
    
}
html,body{
    font-family: "Poppins", sans-serif;;
    font-size: 18px;
}
.login-section{
    display: flex;
    flex-direction: column;
}
.login-section__img{
    width: 70%;
    background-image: url(../static/imgs/learning.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    display: none;
    
}
.login-section__content{
    width: 100%;
    height: 100vh;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .login-section__text{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 30px 12px;
    line-height: 1.1;
    background-color: var(--ligth-gray);
    border-radius: 5px;
    padding: 18px;
    box-shadow: 4px -7px 16px 0px rgb(167, 167, 167);
  
  }
.login-section__text h2{
    margin-bottom: 24px;
    color: var(--gray);
    font-size: 32px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.login-section__text p{
    font-size: 18px;
}
    
.login-section__text a{
    margin: 8px;
    padding: 4px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: var(--white);
    color: var(--gray);
}
.login-section__button{
    margin: 40px 0 16px 0 ;
    padding: 8px;
    width: 200px;
    background-color: var(--btn-color) ;
    border-radius: 12px;
    color: var(--white);
    
}
.login-section__button:hover{
    transform: scale(0.90);
    box-shadow: 2px -7px 8px 0px rgb(177, 173, 173);
}
.regiser-section__button a{
    font-weight: 400;
}
.regiser-section__button a:hover{
    font-weight: 300;
    
}
/*Inico de secion*/
.login{
    width: 100%;
    height: 600px;
    background-image: url(../static/imgs/login.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.login__container{
    background-color: var(--ligth-gray);
}
@media (min-width: 700px) {
    .login-section__img{
        display: block;
    }
    .login-section{
        display:flex;
        flex-direction: row;
    }
    .login-section__content{
        width: 40%;
    }
}