{% extends 'base.html' %}

{% block title%} Home{% endblock title%}
{% block content %}
    
<section class="login-section">
    <div>
    <h1>Bienvenido {{username}}</h1>
    <form action="{{ url_for('home.home', username=username) }}" method="POST">
        <input type="text" name="categoria" placeholder="categoria" required>
        <input type="text" name="task" placeholder="Ingrese una tarea" required>
        <input type="date" name="date" required>
        <button type="submit">Agregar tarea</button>
    </form>
    <h2>Tareas Pendientes</h2>
        <ul>
            {% for task in tasks %}
            <li>{{ task.task }}</li>
            <li>{{ task.date }}</li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}