{% extends 'base.html' %}

{% block title %} Home{% endblock title %}

{% block content %}
<section class="login-section-Home">
    <a href="{{url_for('index')}}" class="home__container-return">
        <img src="../static/imgs/bx-power-off.svg" alt="">
    </a>
    <div class="main-cont">
        <div class="fr-cont">
            <h1>Bienvenido {{ username }}</h1>
            <img src="https://img.freepik.com/vector-gratis/mujer-marcando-concepto-gestion-tiempo-planificador_23-2148823172.jpg?t=st=1718665203~exp=1718668803~hmac=6943ca5414fcb50f42afa921c518a554ee9a469ddf53e1e00c0a86b367b7e470&w=740" alt="Ilustración de gestión de tiempo" style="max-width: 100%; margin-bottom: 20px;">
            <form action="{{ url_for('home.home', username=username) }}" method="POST">
                <input type="text" name="categoria" placeholder="Categoria" required>
                <input type="text" name="task" placeholder="Ingrese una tarea" required>
                <select name="state">
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
                <input type="date" name="date" required>
                <button type="submit">Agregar tarea</button>
            </form>
        </div>
        
        <div class="tasks">
            <h2>Tareas Pendientes</h2>
            <div class="cont-task">
                <table>
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Tarea</th>
                            <th>Fecha de entrega</th>
                            <th>Estado</th>
                            <th>Fecha de Finalización</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.category }}</td>
                            <td>{{ task.task }}</td>
                            <td>{{ task.date }}</td>
                            <td>{{ task.state }}</td>
                            <td>{% if task.state == 'Finalizado' %}{{ task.fecha_finalizacion }}{% endif %}</td>
                            <td>
                                <form action="{{ url_for('home.update_task', username=username, task_index=loop.index0) }}" method="POST" style="display:inline;">
                                    <input type="hidden" name="task_index" value="{{ loop.index0 }}">
                                    <button type="submit" class="btn-mark-end">Marcar como finalizado</button>
                                </form>
                                <button type="button" class="delete-btn" data-task-index="{{ loop.index0 }}">Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</section>

<!-- Popup de confirmación (oculto) -->
<div id="confirmation-popup" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close" onclick="closeConfirmationPopup()">&times;</span>
        <p>¿Estás seguro de que deseas eliminar esta tarea?</p>
        <button id="confirmDeleteBtn">Eliminar</button>
        <button class="cancel">Cancelar</button>
    </div>
</div>

<div id="confirmation-popup-exit" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close" onclick="closeConfirmationPopup()">&times;</span>
        <p>¿Estás seguro de que deseas salir?</p>
        <button id="confirmDeleteBtn"></button>
        <button class="cancel">Cancelar</button>
    </div>
</div>

<!-- Input hidden para pasar el username a JavaScript -->
<input type="hidden" id="username" value="{{ username }}">

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
